<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Robot spawn position -->
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.2" />

    <!-- Robot URDF and namespace definitions -->
    <arg name="urdf_robot_file" value="$(find millihex_test)/urdf/millihex.urdf" />
    <arg name="robot_name" value="millihex" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="cat $(arg urdf_robot_file)" />

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name)" />

    <!-- Launch robot joint controllers -->
    <include file="$(find millihex_test)/launch/start_controllers.launch" />

</launch>